@use '../base' as *;

/* -------------------------------- 

File#: _1_details-list-v2
Title: Details List v2
Descr: Pairs of related information displayed in a list
Usage: codyhouse.co/license

-------------------------------- */