@use '../base' as *;

/* -------------------------------- 

File#: _1_feature-v7
Title: Feature v7
Descr: A section containing a list of features
Usage: codyhouse.co/license

-------------------------------- */