@use '../base' as *;
@use '_1_tilted-img-slideshow.scss' as *;

/* -------------------------------- 

File#: _2_feature-v19
Title: Feature v19
Descr: Feature content with a tilted image slideshow
Usage: codyhouse.co/license

-------------------------------- */