@use '../base' as *;
@use '_1_smooth-scrolling.scss' as *;
@use '_2_table-of-contents.scss' as *;
@use '_1_accordion.scss' as *;
@use '_2_accordion-v2.scss' as *;

/* -------------------------------- 

File#: _3_faq-v3
Title: FAQ v3
Descr: Q&A template based on the table of contents and accordion components
Usage: codyhouse.co/license

-------------------------------- */