@use '../base' as *;
@use '_1_breadcrumbs.scss' as *;
@use '_1_rating.scss' as *;
@use '_1_number-input.scss' as *;
@use '_1_btns.scss' as *;
@use '_2_image-zoom.scss' as *;

/* -------------------------------- 

File#: _3_product
Title: Product
Descr: Product info section with CTA
Usage: codyhouse.co/license

-------------------------------- */

.product {}