@use '../base' as *;
@use '_2_dropdown.scss' as *;
@use '_1_tabs.scss' as *;
@use '_3_mega-site-navigation.scss' as *;

/* -------------------------------- 

File#: _4_intro
Title: Intro
Descr: Intro section including the main header and a hero component
Usage: codyhouse.co/license

-------------------------------- */

.intro {
  padding-top: var(--mega-nav-height); // update variable according to the header component you're using
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}